.editcontent{
    background-color: #222831;
    width: 1300;
    height: 500px;
    border-radius: 5px;
 
}

.texttitleedit{
    background-color: #00ADB5;
    display: block;
    color: white;
    height: 50px;
    border-radius: 3px;
}