.editcontent {
    background-color: #222831;
    border-radius: 5px;

}

.texttitleedit {
    background-color: #00ADB5;
    display: block;
    color: white;
    height: 50px;
    border-radius: 3px;
}