.controlitem{
    background-color: #222831;
    border-radius: 2px;
    width: 98%;
    position: absolute;
    top: 100px;
    left: 10px;
}

.g-form{
   padding: 5px;
}
.text-novel{
    font-family: fantasy;
    background-color: #00ADB5;
    display: block;
    color: white;
    font-size: 25px;
    height: 50px;
    padding: 5px; 
    border-radius: 3px;
    
}

.text-filter{
    font-family: fantasy;
    color: white;
    margin-left: 10px;
}

.box-search{
    background-color: white;
    border-radius: 5px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-left: 5px;
    margin-right: 5px;
}


input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

.form-option{
    display: flex;
}

.op-fition{
    width: 250px; 
    margin-left: 5px;
     
  }
 
  .op-update
 {
     width: 250px;
     margin-left: 5px;
 }
 
.search-box{
    display: flex;
 }

 @media screen and (max-width: 900px) {
    .form-option{
        display: inline;
     }
     
     .op-fition{
        width: 80%; 
         
      }
     
      .op-update
     {
        width: 80%;
        margin-top: 5px; 
     }

     .search-box{
        margin-top: 5px;
     }

     .controlitem{
        position: absolute;
        left: 5px;
    
    }
     
 }